.App {
  text-align: center;
}

.Navigation {
display: flex;
justify-content: space-around;
align-items: center;
min-height: 10vh;
background: maroon;
color: white;
}

.nav-links{
  width: 40%;
  justify-content: space-around;
  align-items: center;
  display: flex;
  list-style: none;
}

.link-style{
  color: white;
}

.comingSoonImage{
  
  width: 500px;
  height: 400px;
}

.schemeFormImage{
  
  width: 500px;
  height: 600px;
}


.schemeContent {
  display: grid;
  font-family:  'Hind', sans-serif;
 /* grid-template-columns: 33.3% 33.3%;*/
  grid-template-columns: repeat(4,1fr);
  margin-left: 100px;
  margin-right: 100px;
  font-weight: bold;



}
/*.schemePage{
  display: flex;
  text-align: center;
   
}*/
.schemeContent div{

background:white;
padding: 20px;
text-align: left;


}

.schemeContent label{

color: maroon
  
  
  }

.schemeContent input[type=text]{
width: 100%;
border: 1px solid #141414;
border-radius: 10px;
padding: 8px;
  }

  .schemeContent input[type=text]:focus{
    border-color: dodgerblue;
    box-shadow: 0 0 8px 0 dodgerblue;
      }

      .schemeContent label{
        font-family: Arial, "Times New Roman";
        font-size: 15px;
      }

      .schemeContent div select{
        width: 100%;
border: 1px solid #141414;
border-radius: 10px;
padding: 8px;
      }
.schemePageButton{
  border-radius: 10px;
padding: 8px;
width: 100%;
background-color: maroon;
color: #ffffff;
cursor: pointer;

}
.schemePageButton:hover{
  background-color: #2E4158
}
.popup-content {
  position:fixed;
  background: white;
  width: 80% !important; 
    padding-left: 0px;
}

.export{
	margin-top: 20px;
	font-size: 14px;
	 border: 1px solid rgba(0,0,0,.15);
    border-radius: 10px;
	min-width: 90px;
	min-height: 30px;
	
}

.export:hover {
  color: green;
  cursor: pointer;
}
