
.AppHam {
  font-family: sans-serif;

  /* Give app full page to work with */
  
}

.sgjCoin{

  width: 50px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}


.sgjSideBarCoin{
	
	
  width: 50px;

 
  margin-left: auto;
  margin-right: auto;
  display: block;
	
}
.sgjCoinLogin{

  width: 100px;
  height: 100px;
}
.trustClass{
	text-align: center;
}

#page-wrap {
  text-align: center;

  /* Prevent sidebar from showing a scrollbar on page */
  overflow: auto;
  height: 0%; 
}

/* Individual item */
.bm-item {
  

  /* Our sidebar item styling */
  text-decoration: none;
  margin-bottom: 10px;
  color: #d1d1d1;
  transition: color 0.2s;
  height: 0%; 
  text-align: left;
}

/* Change color on hover */
.bm-item:hover {
  color: white;
}

/* The rest copied directly from react-burger-menu docs */

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
 
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  height: 0%; 
  overflow: auto;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  height: 0%; 
  
  overflow-x: hidden;
  
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
  height: 0%;
}

.hamBurger-navigation {
  
  justify-content: space-around;
  align-items: center;
  color: white;
  height: 0%; 
  }
  
  .hamBurger-nav-links{
    
    justify-content: space-around;
    align-items: center;
    height: 50px;
    list-style: none;
  }
  
  .hamBurger-link-style{
    color: white;
display:inline-block;
height:40px;
  }
  