
.btn {
  background-color: rgba(36, 41, 44, .9);
  border: none;
  width: 40%;
  text-align: center;
  margin-bottom:10px;
  padding: 20px;
  border-radius: 50px;
  color: white;
  cursor: pointer;
}


.input{
  background: rgba(241, 241, 241, .7);
  width: 40%;
  margin-bottom:10px;
  padding: 20px 20px;  
  border-radius: 50px;
  border: 0;
  color: #3E3E3E;
}


